<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/find"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading" style="margin: 40px;">
    <ion-spinner color="danger"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <p style="font-size: large;">{{ place.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <ion-text style="font-size: large;" color="medium">Only costs {{ place.price | currency:'INR' }} per day</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBookable">
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <ion-button color='primary' (click)='onBookPlace()' style="margin-top:20px;">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>